{% extends "base.html" %}  
{% load crispy_forms_tags %}


{% block css_add %}
<style>
    .btn-success:hover {
        background-color: #ff0004; /* Change this to your desired hover color */
    }

   body{

    background-color: rgb(188, 243, 246);
   } 
</style>
{% endblock %}

{% block   main %}

 <h1 class="text-center p-5" >This is profile page</h1>
 <h1 class="text-center p-5" >The present user name is : {{user}} </h1>

 <div class="text-center">  
  <a  href="{% url 'edit_profile'  %}" class="btn btn-success class="  > Edit profile </a>

</div>
{% endblock  %}











